* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 1500px;
}
#header {
    height: 80px;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* THANH NAV */
#nav {
    display: inline-block;
}
#nav , .subnav {
    list-style-type: none;  
}
#nav li{
    display: inline-block;
    position: relative;
}

/* Thuộc tính ăn theo li không theo a nữa */
#nav > li > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(243, 164, 47);
    text-transform: uppercase;

}
#nav li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-decoration bỏ gạch chân */
    text-decoration: none;
    line-height: 40px;
    padding: 20px 30px;
    display: block;
    
}
#nav li:hover .subnav {
    display: block;

}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color:#000;
    background-color: #ccc;
    
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* kế thừa inline sẽ kh kế thừa chiều cao chiều rộng */
#nav .subnav-item a {
    color: #000;
    min-width: 160px ;
    padding: 12px;
    line-height: 20px;
    
}
#nav .nav-arrow-down {
    font-size: 20px;
}

/* END THANH NAV */

/* LOGIN BUTTON  */
#wrap-nav .wrap-login-btn{
    position: relative;
    display: inline-block; 
    left: 51%;
    
}
.login-btn{
    /* font-family: 'Lato', sans-serif;    */
    font-weight: 600;
    text-transform: uppercase;

    height: 46px;
    width: 90px;
    border-radius: 7px;

    right: 5%;
    cursor: pointer;
    padding: 20px auto;
    text-align: center;
    display: inline-block;
    /* color: rgb(249, 245, 245); */
    background-color: rgb(240, 240, 240);
    color: rgb(192, 170, 11);
    border: 3px;
    border-style: solid ;
    border-color: #f2d51c;
    box-shadow: inset 2px 2px 2px 0px rgba(197, 193, 193, 0.5), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
            
}

.login-btn:hover{
    background-color: #f2d51c;
    color: #393235;
}
/* END LOGIN BUTTON  */


/* SIGNUP BUTTON  */
#wrap-nav .wrap-signup-btn{
    position: relative;
    display: inline-block; 
    left: 52%;
    
}
.signup-btn{
    /* font-family: 'Lato', sans-serif;    */
    font-weight: 600;
    text-transform: uppercase;

    height: 46px;
    width: 90px;
    border-radius: 7px;

    right: 5%;
    cursor: pointer;
    padding: 20px auto;
    text-align: center;
    display: inline-block;
    /* color: rgb(249, 245, 245); */
    background-color: rgb(234, 200, 63);
    color: #313131;
    border: 2px ;
    box-shadow: inset 2px 2px 2px 0px rgba(197, 193, 193, 0.5), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
            
}

.signup-btn:hover{
    background-color:#393235 ;
    color: rgb(235, 181, 100);
}
/* END LOGIN BUTTON  */
/* END THANH NAV */

/* SLIDESHOW */
.slideshow{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    float: top;
}
.slideshow-item{
    width: 100%;
    height: 90%;
}
.slideshow-item img{
    width: 100%;
    height: 100%;
}
/* END SLIDESHOW */


/* CONTENT */

/* PRODUCT */

.offer-product {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}
.wrap-offer-product .content-offer-product {
    font-family: "JetBrains",sans-serif;
    font-size: medium;
    position: relative;
    margin-top: 90px;

    text-align: center;
}
.content-offer-product .content-offer-product-container .text-heading{
    font-size: 65px;
    font-weight: bolder;
    color: #000000;
}
/* quan li cac the */
.wrap-offer-product .sub-product {
    width: 1450px;
    margin-top: 55px;
    display: -ms-grid;
    display: grid;
    
    -webkit-box-pack: center;
    
        -ms-flex-pack: center;
    
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;

    -ms-grid-columns: auto 7px auto 7px auto;

    grid-template-columns: auto auto auto;
    grid-gap: 7px;
    row-gap: 40px;    

}
/* THE product */
.sub-product .sub-product-container {
    position: relative;
    display: inline-block;
    
    height: 409.6px;
    width: 300px;

    background-color: #fff;

    border: 0.5px solid #dddfe2;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;

    margin-right: 10px;
    margin-left: 30px;
    padding-bottom: 1px;
}
.sub-product .sub-product-container:hover {
    top: -5px;
    -webkit-box-shadow: 0px 7px 8px rgba(0,0,0,0.4);
            box-shadow: 0px 7px 8px rgba(0,0,0,0.4);
}
/* .sub-product .sub-product-container img{
    width: 550 ;
    height: 350;
} */

.text-sub-product{
    margin-bottom: 10px;
}
/* hinh anh minh hoa product */
.text-sub-product .background-text-sub-product {
    position: relative;
	height: 280px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(white,.15);
 	background-blend-mode: overlay;
	border-radius:8px 8px 0 0;
    padding: 5px;
}
/* NOI DUNG product */
.text-overlay {
    font-family: 'system ui';
	position: relative;
	background: rgba(#fff, 0.6);
	width: 100%;
	height: 80%;
	top: 60%;
	-webkit-box-shadow: 0 -2px 12px rgba(#000, 0.3);
	        box-shadow: 0 -2px 12px rgba(#000, 0.3);
	padding: 7px 7px;
	-webkit-transition: all 450ms ease-in-out 0s;
	-o-transition: all 450ms ease-in-out 0s;
	transition: all 450ms ease-in-out 0s;
	cursor: pointer;
    margin:5px 2px;
}
.text-overlay:hover{
    background: rgba(#fff, 0.8);
	height: 50%;
	top: 50%;
	-webkit-transition: all 650ms ease-in-out 1s;
	-o-transition: all 650ms ease-in-out 1s;
	transition: all 650ms ease-in-out 1s;
}
.text-overlay h1{
    color: black;
	margin-top: 5px;
    text-transform: uppercase;
    text-decoration: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 700;


    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.text-overlay i{
    margin-right: 5px;
}


.text-overlay p{
    color: #555;
	width: 100%;
	height: 80px;
	margin: 3px 0;
	line-height: 1.25;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	overflow: hidden;
}
.text-overlay a{
    color: #000;
	text-decoration: none;
}

.text-overlay .product-date{
    padding:5px 0;
    font-size: large;
    line-height: 10px;
    color:#313131;
}

.wrap-icon-holder-product{
    width: 100%;
    position: absolute;
    bottom: 5px;
}
.icon-holder-product {
    color: rgb(255, 50, 50);
    margin: 5px 0px 5px 7px;
    
    font-size: large;
}
.icon-holder-product .credit-product-price{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.icon-holder-product .credit-product-price-sale{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(255, 50, 50);
  
    margin-left: 20px;
  }
.fa-credit-card::before{
    margin-right: 8px;
}
/*END PRODUCT*/

/*CONTACT*/
.wrap-contact{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 30px;
    height: 130px;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact .button-contact {
    display: inline-block;
    height: 50px;
    width: 50px;
    /* float: left;  */
    margin: 3px 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
}
.button-contact .icon{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.5s ease-out;
    color: #000;
}
.button-contact .icon i{
    font-size: 25px;
    line-height: 50px;
    transition: all 0.5s ease-out;
}
.contact .button-contact:nth-child(1):hover .icon{
    background: #2192FF;
    transform: scale(1.1);
}
.contact .button-contact:nth-child(2):hover .icon{
    background: #FFB72B;
    transform: scale(1.1);
}
.contact .button-contact:nth-child(3):hover .icon{
    background: #38E54D;
    transform: scale(1.1);
}
/*END CONTACT*/

/* REVIEW */
/* chu header */
.intro-course h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 60px;

    text-align: center;
    position: relative;
    margin-top: 20px;
}
/* end chu header */

/* boc 3 the */
.sub-review{
    align-content: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
}
/*end boc 3 the */

/* mot the */
.sub-review .sub-review-container {
    position: relative;
    display: inline-block;
    
    height: auto;
    width: 300px;

    background-color: #fff;

    border: #8DB596 solid 0.4px;
    border-radius: 9px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .4s ease-in-out;

    margin: 20px 30px;
}
/*end mot the */
/* hover end mot the */
.sub-review .sub-review-container:hover {
    top: -5px;
    box-shadow: 0px 7px 8px rgba(0,0,0,0.4);
}

.text-sub-review{
    margin-bottom: 10px;
}

/* hinh anh minh hoa review */
.text-sub-review .background-text-sub-review {
    position: relative;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(white,.15);
 	background-blend-mode: overlay;
	border-radius:8px 8px 0 0;
    padding: 5px;
}
/* endd hinh anh minh hoa */

/* cover chu review */
.text-overlay {
    font-family: 'system ui';
	position: relative;
	background: rgba(#fff, 0.6);
	width: 100%;
	height: 80%;
	top: 60%;
	box-shadow: 0 -2px 12px rgba(#000, 0.3);
	padding: 10px 7px;
	transition: all 450ms ease-in-out 0s;
	cursor: pointer;
    margin:5px 2px;
}
.text-overlay:hover{
    background: rgba(#fff, 0.8);
	height: 50%;
	top: 50%;
	transition: all 650ms ease-in-out 1s;
}
.text-overlay h1{
    color: rgb(0, 0, 0);
	letter-spacing: 0.0225em;
	width: auto;
	margin-top: 5px;
    text-transform: uppercase;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
    transition: all 1s ease-in-out;
}
.text-overlay p{
    color: #555;
	width: 100%;
	height: 80px;
	margin: 3px 0;
	line-height: 1.25;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*end cover chu review */

/* icon sao */
.wrap-icon-holder-review{
    width: 100%;
    right: 10px;
}
.icon-holder-review {
    color: #938004;
    
    margin: 5px 6px;
    font-size: large;
}
/* end icon sao */
/* END REVIEW */

/* END CONTENT */

/* FOOTER  */
#footer {
    padding: 40px 10px 10px 200px;
    background-color: #221f20;
    color: #929497;
    line-height: 1.8em;
    text-decoration: none;

    font-family: "Roboto",sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    
}

#footer .wrap-footer-list{
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x));
}

.wrap-footer-link-list {
    flex: 0 0 auto;
    width: 25%;
}

#footer .footer-link-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#footer .footer-link-list__header {
    color: rgba(255,255,255,.72);
    font-weight: 600;
}
#footer a {
    color: #929497;
    text-decoration: none;
}
.wrap-footer-copy-right {
    flex: 0 0 auto;
    width: 50%;
    display: block !important;
    
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.mt-1 {
    margin-top: 0.25rem !important;
}
.d-inline-flex {
    display: inline-flex !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}
/* END FOOTER  */