{%extends "home.html"%}
{%block%}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="static/style.css">
    <title>Musician Dream</title>
    {% comment %} <script src="https://kit.fontawesome.com/f50e40892f.js" crossorigin="anonymous"></script> {% endcomment %}
</head>
<body>
    {% comment %} <div id="main"> {% endcomment %}
        {% comment %} <!-- HEADER --> {% endcomment %}
        <div id="header">

            {% comment %} <!-- nav --> {% endcomment %}
            <div id="wrap-nav">
                <ul id="nav">
                    {% comment %} <li><a href="index.html">Home</a></li> {% endcomment %}
                    {% comment %} <li><a href="https://open.spotify.com">Songs</a></li>
                    <li><a href="">Course<i class="nav-arrow-down ti-angle-down"></i></a>
                        <ul class="subnav">
                            <li class="subnav-item"><a href="https://www.justinguitar.com/classes/beginner-guitar-course-grade-one">Grade 1</a></li>
                            <li class="subnav-item"><a href="https://www.justinguitar.com/classes/beginner-guitar-course-grade-two">Grade 2</a></li>
                            <li class="subnav-item"><a href="https://www.justinguitar.com/classes/beginner-guitar-course-grade-three">Grade 3</a></li>
                        </ul>
                    </li>         {% endcomment %}
                    {% comment %} <li><a href="https://vietthuong.vn/dan-piano.html">Product</a></li>                                      {% endcomment %}
                </ul>
                {% comment %} <a href=""> {% endcomment %}
                    <div class="wrap-login-btn">
                        {% comment %} <a href=""> {% endcomment %}
                        <button class="login-btn">Log In</button>
                        {% comment %} </a> {% endcomment %}
                    </div>  
                    <div class="wrap-signup-btn">
                        {% comment %} <a href=""> {% endcomment %}
                        <button class="signup-btn">Sign Up</button>
                        {% comment %} </a> {% endcomment %}
                    </div> 
                {% comment %} </a> {% endcomment %}
            </div>
            {% comment %} <!-- end nav --> {% endcomment %}
        </div> 

        <div id="slideshow">
            <div class="slideshow-item">
                {% comment %} <img src="https://iili.io/H2K5iUx.png" alt = "slideshow-item"> {% endcomment %}
            </div>
        </div>
    {% comment %} </div>      {% endcomment %}
</body>
</html>

{%endblock%}